.userInfo{
  background-color: #fff;
  width: 400px;
  height: 455px;
  box-shadow: 0 3px 16px -5px #070707;
  border-radius: 5px;
  margin: 0 auto;
}
.logout{
  color: #fa070f;
  font-size: 12px;
  cursor: pointer;
}
